<div class="section-colored text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Web Service Radio Application</h1>
                <h3>A Great Way to Relax and Enjoy your Studies!</h3>
                <p>A project created for use in CS 425: Server Side Web Development taught by Dr. Binto George.</p>
                <hr>
            </div>
        </div>
    </div>
</div>

<!--get song information-->
<script>
    //create the listener for alert
    function reqListener(){
        console.log(this.responseText);
    }

    //new request object
    var oReq = new XMLHttpRequest();

    //initialize the request to get data from getSongs.php
    oReq.open("get", "php/getSongs.php", true);

    //send the request for data
    oReq.send();

    //action of what will happen when getting data from getSongs.php if successful.
    oReq.onload = function(){
        //data is in this.responseText.
        //We will handle what we need to do with this data here.

        //parse JSON string into javascript array of objects. Song 1 is songs[0]..., etc.
        var songs = JSON.parse(this.responseText);
        var songNames = [];
        var songArtists = [];
        var songLengths = []; //will be in 00:04:26.000 format as example.
        var songMP3s = [];

        //place song data into seperate arrays.
        songs.forEach(function (song) {
            songNames.push(song.name);
            songArtists.push(song.artist);
            songLengths.push(song.length);
            songMP3s.push(song.mp3);
        });
        
        //use for testing arrays. All the data is properly placed in the arrays.
        //comment out to get rid of alert.
        alert(songNames); //will alert the all the songs names.

        //do what ever else you need to with the data here. Send it to player.js or whatever...
    };
</script>


<div class="section-colored">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Some Features Include:</h2>
                <ul>
                    <li>Pause, Play, Forward, Previous</li>
                    <li>Artist Name, Song Name, and our SVG Logo!</li>
                    <li>3 Song Library!</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img src="svg/newlogo.svg" class="center">

                <audio controls>
                    <source src="assets/songs/SanHolo_WeRise.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
</div>

<br>

<div class="container">
    <div class="row well">
        <div class="col-lg-8 col-md-8">
            <h4>Through our education achieved at Western Illinois University this was possible.</h4>
            <p>Check out our school's website through the button to the right!</p>
        </div>
        <div class="col-lg-4 col-md-4">
            <a class="btn btn-purple btn-primary pull-right" href="https://www.wiu.edu/">Western Illinois University</a>
        </div>
    </div>
</div>

<script src="player.js"></script>